

:root {
    --white: #fff;
    --black: #000;
}

main {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}

h1, h2 {
    color: var(--black);
    margin: 1rem;

}



form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 1rem;
    
    label, h3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0.5rem;
        margin:0;
        

        label {
            color: var(--black);
        }

        h3 {
            align-content: flex-start;
            color: var(--black);
        }

        input{
            border-radius: 5px;
            background-color: var(--white);
            color: var(--black);
            padding: 1rem;
        }

        
    }

}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        max-width: 100%;
        width: 100%;

            li {
                display: flex;
                justify-content: space-between;
                margin: 0.5rem;

                    label{
                        display: flex;
                        color: var(--black);
                        padding: 0.5rem;
                        justify-content: space-between;
                    }
            }
            
            input {
                border-radius: 5px;
                background-color: var(--white);
                color: var(--black);
            }

            
    }
}

button{

        width: 100%;
    }

p {
    color: var(--black);
}